body {
  text-decoration: none;
}

.nav-container {
  position: fixed !important;
  margin-bottom: auto;
  top: 0;
  z-index: 100;
  a {
    color: black;
  }
}

.nav-title {
  font-size: 35px;
  font-family: "Lucida" serif;
  margin-right: 50px;
}
.menu-list {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  li {
    padding: 0 20px;
  }
}

// slider header

.slide_container {
  margin-top: 100px;
  width: 100%;
  img {
    width: 100%;
  }
}

// Promo
.promo-titles {
  margin-top: 8pc;
  text-align: center;
  h1 {
    font-family: "Times New Roman", Times, serif;

    font-size: 3.6rem;
  }
}
.promo-img-container {
  display: flex;
  justify-content: center;
}
.promo-img-cont {
  font-family: "Times New Roman", Times, serif;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 15px 15px;
  width: 350px;
  .positioned-text {
    position: absolute;
    font-size: 15px;
    top: 40%;
    right: 0;
    &:nth-child(2) {
      font-weight: bold;
    }
  }

  &:nth-child(1) {
    .positioned-text {
      margin-right: 5px;
    }
  }
  &:nth-child(3) {
    .positioned-text {
      background-color: rgba(0, 0, 0, 0.7);
      padding: 10px 5px;
      height: auto;
    }
  }
  &:nth-child(1),
  &:nth-child(3) {
    .positioned-text p:nth-child(2) {
      text-align: end;
    }
  }
  &:nth-child(2) .positioned-text {
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
  }
  &:nth-child(3) {
    .positioned-text {
      text-align: left;
      right: unset;
      left: 10px;
    }
  }
  .promobtn {
    width: 100%;
    button {
      width: 100%;
      padding: 7px 0;
      border: unset;
    }
  }
}
.promobtn .promo-img-content img {
  width: 350px;
  height: 330px;
}

// product

.product-container {
  margin-top: 6pc;
}
.product-titles {
  text-align: center;
}
.product-titles h1 {
  font-family: "Times New Roman", Times, serif;
}

.product-img-container {
  display: flex;
  justify-content: center;
  margin-top: 3pc;
}

.product-titles .title {
  font-family: "Times New Roman", Times, serif;
  font-size: 3.6rem;
}

.product-img-cont {
  width: 350px;
  margin: 0 15px 20px;
}

.product-img-cont .product-img-content img {
  width: 100%;
  height: 550px;
}
.product-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-rating i {
  margin: 10px 3px 15px;
  font-size: 0.7em;
  color: rgb(255, 187, 0);
}
.left-product-detail {
  font-weight: bolder;
}

.left-product-detail p:last-child {
  font-size: 1.7rem;
}

.right-product-detail button {
  padding: 10px;
  margin: 0 7px;
}

.shopping-cart {
  background: brown;
}
.shopping-cart:hover {
  background: rgb(112, 25, 25);
}

// Checkout container

.checkout-container {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}
.checkout-content {
  width: 45%;
  height: 550px;
  margin: 0 18px 15px;
}

.checkout-container .right-checkout-content {
  border: 2px solid rgb(82, 36, 36);
}

// wish container

.wish-container {
  background: url(../images/images/gallery.jpg);
  background-position: center;
  margin: 60px 0;
  width: 100%;
  height: auto;
  color: #fff;
}
.wish-container a {
  color: #fff;
  font-size: 2.7rem;
  font-weight: bold;
  margin: 0 10px 0;
  font-family: "Times New Roman", Times, serif;
  transition: 0.3s;
}

.wish-container a:hover {
  color: #937c6f;
  text-decoration: none;
}

.wish-hashtags {
  padding-top: 5pc;
  width: 90%;
  margin: 0 auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  .hashtags {
    width: 90%;
    word-wrap: break-word;
    text-align: center;
  }
  .wish-text {
    text-align: center;
  }
  button {
    margin-top: 20px;
    padding: 10px 28px;
    border: unset;
    background-color: #937c6f;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
  }
  button:hover {
    background-color: #fff;
    color: black;
  }
}
.wish-images {
  margin: 50px auto 0;
  display: flex;
  justify-content: center;
  width: auto;
  overflow-x: auto;
}

.wish-images img {
  width: 180px;
  height: 180px;
  margin: 0 15px 15px;
}

// testimonials
.testimonials-container {
  text-align: center;
}
.testimonials-titles .title {
  font-family: "Times New Roman", Times, serif;
  font-size: 3.6rem;
  margin-bottom: 40px;
}
.testimonial-carousel {
  img {
    margin: 0 auto;
    border-radius: 50%;
  }
  .carousel-inner {
    width: 100%;
  }
  p {
    font-family: serif;
    transform: skew(-20deg);
    margin: 0 auto 0;
    width: 90%;
    word-spacing: 5px;
    padding-bottom: 20px;
    font-size: 25px;
    text-align: center;
    &:last-child {
      margin-bottom: 10px;
      font-size: 20px;
    }
  }
}

@media (max-width: 576px) {
  .promo-img-container,
  .product-img-container,
  .checkout-container {
    flex-direction: column;
    align-items: center;
  }
  .promo-img-cont,
  .product-img-cont,
  .checkout-content {
    width: 95%;
  }
  .promo-img-content img,
  .product-img-content img {
    width: 100%;
  }
  .testimonial-carousel,
  .testimonials-titles {
    transform: scale(0.7);
  }
}
